

* { overflow-x: hidden; }

body {
    background-color: rgb(173, 208, 209);
}



/* ------------------------ */



header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    padding: 1vh;
    min-width: 95%;
    border-bottom: 0.2rem solid;
    align-content: center ;
    align-items: center;
}

header > p {
    font-size: 2.5rem;
    flex-shrink: initial;
}

header > button {
    flex-wrap: wrap;

    border: none;
    background-color: rgb(141, 171, 172);
    font-size: 5vh
}

header > button:hover {
    background-color: rgb(99, 120, 121);
}

header > button:active {
    background-color: green;
}



/* ------------------------ */



main {
    display: inline-block;
    position: relative;
    margin-left: 1%;

}

main > h1 {
    font-size: 5rem;
}
main > p {
    font-size: 2.5rem;
}



/* ------------------------ */



aside {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;

    overflow: hidden;
    float: left;


    border: 2.5px solid;
    height: 200vh;
    max-width: 1%;
    
}


footer {
    display: flex;
    justify-content: flex-end;
    justify-content: center;

    margin-top: 5px;
    width: 100%;
    border: 2.5px solid;
    font-size: 16px 1rem;
}


@media (max-width: 650px) { 
    header {
        flex-direction: column;
    }

    aside {
        visibility: hidden;
    }
}