

* { 
    overflow-x:hidden;
}

body {
    background-color: rgb(173, 208, 209);
    
}

.card {
    display: inline-flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

    min-width: 15%;
    
    max-width: 20%;

    border: 1px solid;
    padding: 0.5rem;

    overflow: hidden;


}

.card > img {
    padding: 1rem;
    width: 90%;
}

.card > p {
    flex-direction: column;
    overflow: hidden;
    

}

.card:hover {
    transform: translateY(-5px);
    transition: all 0.1s;
    
}


/* ------------------------ */



header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    padding: 1rem;
    min-width: 95%;
    border-bottom: 0.2rem solid;
    align-content: center ;
    align-items: center;
    
}

header:hover {
    transition: margin-right 2s;
}

header > p {
    font-size: 2.5rem;
}

header > a {
    flex-wrap: wrap;

    text-decoration: none;  
    color: black;  
    border: none;
    background-color: rgb(141, 171, 172);
    font-size: 4rem
}

header > a:hover {
    background-color: rgb(99, 120, 121);
    transform: translateY(-5px);
    transition: all 0.1s;
    
}

header > a:active {
    background-color: green;
}



/* ------------------------ */



main {
    display: inline-flex;

    flex-wrap: wrap;
    flex-basis: 100%;

    align-items: center;
    justify-content: center;
    margin-left: 1%;
    max-width: 90%;
}

main > div {
    flex-grow: 1;
    max-width: 5%;
    margin: 1rem;

}

main > h1 {
    font-size: 5rem;
    flex-basis: 100%;
    
}
main > p {
    font-size: 2.5rem;
    overflow: visible;
    flex-direction: row;
}



/* ------------------------ */



aside {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: shrink ;

    overflow: hidden;
    float: left;


    border: 2.5px solid;
    height: 100rem;
    max-width: 5%;
    
}


footer {
    display: flex;
    justify-content: flex-end;
    justify-content: center;

    margin-top: 5px;
    width: 100%;
    border-top: 2.5px solid;
    font-size: 16px 1rem;
}


@media (max-width: 750px) { 
    header {
        flex-direction: column;
    }

    aside {
        visibility: hidden;
    }



}